# Dostawca VPN (np. mullvad, protonvpn, airvpn)
VPN_PROVIDER=your_provider

# Klucz prywatny WireGuard wygenerowany u dostawcy VPN
VPN_PRIVATE_KEY=TWOJ_KLUCZ_PRYWATNY_WIREGUARD_Z_VPN

# Adres IP przypisany do Twojego konta WireGuard (np. 10.2.0.2/32)
VPN_ADDRESS=TWOJ_ADRES_WIREGUARD_Z_VPN/32
